/* ----- COLOR PALETTE -----
light tan:      #F7F0C3;
light green:    #BACDB0;
medium green:   #67998F;
dark green:     #536767;  (basically blac.k)
brown:          #8E6A62;
light gray:     #E9E9E9;
medium gray:    #D8D8D8;
*/

* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  background: url('/assets/img/background-img-3.png');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

#main h1 {
  padding: 20px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px dashed #aaa;
  font-family: sans-serif;
  font-weight: 100;
}

#main {
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
}

.input-email,
.input-password,
.create-account-input {
  margin: 3px;
  padding: 3px;
  border: 1px solid #536767;
  border-radius: 5px;
  outline: none;
  font-family: 'Raleway', sans-serif;
}

.create-account-back-btn {
  margin: 10px 20px;
  background-image: url('/assets/img/cancel.svg');
}

.create-account-submit-btn {
  margin: 10px 20px;
  background-image: url('/assets/img/next.svg');
}

.btn-login {
  margin-left: 10px;
  background-image: url('/assets/img/login.svg');
}

.btn-logout {
  margin-left: 10px;
  background-image: url('/assets/img/logout.svg');
}

.btn-login,
.btn-logout,
.create-account-back-btn,
.create-account-submit-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: Transparent;
  background-position: center;
}

.btn-login:hover,
.btn-logout:hover {
  cursor: pointer;
}

.login-form,
.logout-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.login-form-container {
  display: block;
}

.create-account-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.create-account-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F7F0C3;
}

.create-account-input::-webkit-input-placeholder {
  color: #D8D8D8;
}

.create-acct-prompt {
  margin: 0;
}

.create-account-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.create-account-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}

.error-msg {
  color: red;
}

.logo {
  font-family: 'Acme', sans-serif;
  font-size: 55px;
}

.beard-icon {
  width: 36px;
  height: 36px;
  margin: 0 5px;
}

.search-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #e9e9e9;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.search-bar {
  width: 500px;
  height: 50px;
  padding-left: 45px;
  color: #536767;
  border: 1px solid #536767;
  border-radius: 5px;
  outline: none;
  background-image: url('/assets/img/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 300;
}

.search-bar::-webkit-input-placeholder {
  vertical-align: text-bottom;
  color: #e9e9e9;
  font-family: 'Raleway', sans-serif;
}

.btn-search {
  display: none;
}

.results-container {
  display: flex;
  flex-direction: row;
}

.search-results-container {
  display: grid;
  color: #444;
  background-color: #fff;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
}

.link-home {
  text-decoration: none;
}

.drink-result {
  padding: 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background-color: #444;
}

.drink-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  background-color: yellow;
}

.drink-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.drink-info span {
  text-align: left;
}
