body {
  background: #f4f4f4;
  font-family: sans-serif;
  font-weight: 100;
}

#main h1 {
  padding: 20px;
  border-bottom: 1px dashed #aaa;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

.results-container {
  display: flex;
  flex-direction: row;
}

.search-results-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.drink-result {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.drink-container {
  width: 600px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
}

.drink-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drink-info span {
  text-align: left;
}
